server:
  port: 8081

spring:
  application:
    name: review-service
  datasource:
    url: jdbc:h2:mem:reviewdb
    username: reviewuser
    password: reviewpassword
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true