server:
  port: 8080

spring:
  application:
    name: Product-service
  datasource:
    url: jdbc:h2:mem:productdb
    username: productuser
    password: productpassword
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true